<!DOCTYPE html>
<html lang="en">
<head>
    <%= render partial: 'layouts/head' %>
    <style>
        #box {
            background: #7FFF00
        }
    </style>
</head>
<body>
    <%= render partial: 'layouts/navbar' %>
    
    <section class="hero  is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div class="box" id = 'box'>
                        
                        <p class="subtitle has-text-grey">Sign Up</p>
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>

                        <div class="field">
                          <%= f.label :UserName %><br />
                          <%= f.text_field :user_name, autofocus: true, autocomplete: "UserName" %>
                        </div>
                        
                        <div class="field">
                          <%= f.label :email %><br />
                          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                        </div>

                        <div class="field">
                          <%= f.label :password %>
                          <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %><br />
                          <%= f.password_field :password, autocomplete: "new-password" %>
                        </div>

                        <div class="field">
                          <%= f.label :password_confirmation %><br />
                          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                        </div>

                        <div class="actions">
                          <%= f.submit "Sign up" %>
                        </div>
                    
                      <% end %>
                            
                      <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%= render partial: 'layouts/footer' %>
</body>
</html>
