<!DOCTYPE html>
<html lang="en">
<head>
    <%= render partial: 'layouts/head' %>
</head>
<body>
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
    <%= render partial: 'layouts/profile' %>
    <%= render partial: 'layouts/body'%>
    <%= render partial: 'layouts/footer' %>
</body>
</html>