<!DOCTYPE html>
<html lang="en">
<head>
    <%= render partial: 'layouts/head' %>
    <style>
        #box {
            background: #7FFF00
        }
    </style>
    <%= csrf_meta_tags %>
</head>
<body>
    <%= render partial: 'layouts/navbar' %>
    
    <section class="hero  is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div class="box" id = 'box'>
                        <h3 class="title has-text-grey">
                        <p class="subtitle has-text-grey">Sign In </p>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        
                        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
                        
                        <div class="field">
                          <%= f.label :email %><br />
                          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                        </div>

                        <div class="field">
                          <%= f.label :password %><br />
                          <%= f.password_field :password, autocomplete: "current-password" %>
                        </div>

                        <% if devise_mapping.rememberable? -%>
                          <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                        <% end -%>

                        <div class="actions">
                          <%= f.submit "Log in" %>
                        </div>
                        <h3>Or</h3>
                        <!---->
                        <%= google_sign_in_button 'Sign in with my Google account', proceed_to: create_login_url %>
                      <% unless current_user %> 

                        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>

                        <% else %>

                        <%= current_user[:name] %>

                        <%= link_to "Logout", destroy_user_session_path, method: :delete %>

                        <% end %>
                      <% end %>
                        
                      <!--<%= render "devise/shared/links" %>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%= render partial: 'layouts/footer' %>
</body>
</html>