<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'layouts/head' %>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
  <script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
  <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />

  <style>
       #map { position:absolute; top:0; bottom:0; width:100%; width: 300px; height: 500px; }
  </style>
</head>
<body>
    <%= render partial: 'layouts/navbar' %>
    <div class="box">
      <div class="columns">
        <div class="column is-one-third is-offset-2">
          <%= render partial: 'layouts/image-grid', locals: {post: @post} %>
        </div>
        <div class="column is-one-third" > 
            <div class="card">
              <div id ="map"></div>
              <!--<%= link_to 'Edit', edit_post_path(@post) %> -->
              <%= link_to 'Back', posts_path %>
            </div>
        </div>
      </div>
    </div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoidGFtNTAxIiwiYSI6ImNqcGdleWFuMTBmaW4zd2xld2MyZTlmbncifQ.ZEBgLg7lBfTZrt207i8uJQ';

      var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
      mapboxClient.geocoding.forwardGeocode({
          query: '<%= @post.location %>',
          autocomplete: false,
          limit: 1
      }).send().then(function (response) {
            if (response && response.body && response.body.features && response.body.features.length) {
                var feature = response.body.features[0];

                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v9',
                    center: feature.center,
                    zoom: 10
                });
                new mapboxgl.Marker()
                    .setLngLat(feature.center)
                    .addTo(map);
          }
        });
    </script>
    <%= render partial: 'layouts/footer' %>
</body>
</html>